@font-face {
  font-family: myFirstFont;
  src: url("https://github.com/ahjdev/ahjdev.github.io/blob/7e90120ed68c0a0fc05ba51ccedeb70b0afb4633/_assets/fonts/FiraCode.ttf");
}

.context {
    background-color: transparent;
    padding: 20px;
    font-family: myFirstFont 
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .context h2 {
    margin-top: 0;
    font-weight: bold;
    color: #ffffff;
  }
  
  .context ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .context li {
    padding: 10px;
    border-bottom: 1px solid #020202;
  }
  
  .context li:last-child {
    border-bottom: none;
  }
  
  .context span {
    font-weight: bold;
    color: #12c0ff;
  }
  
  .context br {
    display: block;
    margin-bottom: 10px;
  }

.property, .method, .parameter {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.property .name, .method .name, .parameter .name {
  font-weight: bold;
}

.property .type, .method .type, .parameter .type {
  font-style: italic;
}

.property .visibility {
  color: #555;
}

.property .access {
  color: #007bff;
}

.property .access .read-only {
  color: #dc3545;
}

.method .return {
  font-weight: normal;
  font-style: italic;
}

.source {
  color: #007bff;
}

.source a {
  text-decoration: none;
  color: #007bff;
}
